{% extends "base.html" %}
{% block title %}Login • TechCareer{% endblock %}

{% block content %}

<div class="login-wrapper">
<div class="login-card">

<h1 class="login-title">🔐 Login</h1>

<form method="POST">

<div class="mb-3">
<label>Nome de usuário</label>
<input type="text" name="username" class="form-control" required>
</div>

<div class="mb-3">
<label>Senha</label>
<input type="password" name="password" class="form-control" required>
</div>

<button type="submit" class="btn start-btn w-100">
Entrar
</button>

</form>

</div>
</div>

{% endblock %}